<div data-temp-converter>
  <div>
    <label for="temp">Temperature</label>
    <input #temp
           data-temp-converter-entry
           type="number"
           name="temp">
  </div>
  <div>
    <button data-temp-converter-convert-button
            (click)="convertToC(temp.valueAsNumber)">Convert to Celsius</button>
  </div>
  <span data-temp-converter-result
        *ngIf="convertedTemp !== undefined">{{ temp.valueAsNumber}} is {{ convertedTemp | number:'0.0-2' }} Celsius
  </span>
</div>
